@model Merchant.Domain.ViewModels.MerchantOrdersViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Merchant Orders</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantId)
        </dd>
        <dt>.</dt>
        <dd>
            @Html.DisplayFor(m=>m.MerchantOrders)
        </dd>
    </dl>
</div>

