@{
    ViewData["Title"] = "Home Page - Secure Payments App";
}

<div class="text-center">
    <h1 class="display-4">CheckItOut Payment App</h1>
    <p>The User Interface That Takes Secure Payments For Integrated Merchants</p>
</div>
