@{
    ViewData["Title"] = "Home Page - CheckItOut";
}

<div class="text-center">
    <h1 class="display-4">CheckItOut Payment App</h1>
    <div>Check It Out, Where Payments Come And Go!</div>
</div>
