@model Merchant.Domain.ViewModels.CheckoutViewModel
@{
    ViewData["Title"] = "Our Store - Checkout Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Store</h1>
    <p>The Everything Store.</p>
</div>
@using (Html.BeginForm("Post", "Orders", FormMethod.Post))
{
    @Html.DisplayForModel(Model)

    <hr />
    <h4>Payment Options:</h4>
    <input type="submit" value="Pay from Merchant Site with Card (Merchant Basket)" />
}
@*<iframe title="Payment Wep App" src="https://localhost:44328/checkout/get" style="width: 100%; height: 260px;"></iframe>*@