@model CheckItOut.Payments.Api.Models.CreatePaymentViewModel
@{ Layout = null;}
@*<div class="text-center">
        <h1 class="display-4">CheckItOut Payment App</h1>
        <div>Check It Out, Where Payments Come And Go!</div>
    </div>

    <h4>Create Payment</h4>*@
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Post", "Checkout", FormMethod.Post))
        {
            @*<form asp-controller="Checkout" asp-action="Post">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label"></label>
                <input asp-for="InvoiceId" class="form-control" />
                <span asp-validation-for="InvoiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientMerchantId" class="control-label"></label>
                <input asp-for="RecipientMerchantId" class="form-control" />
                <span asp-validation-for="RecipientMerchantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyCode" class="control-label"></label>
                <input asp-for="CurrencyCode" class="form-control" />
                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderFullName" class="control-label"></label>
                <input asp-for="SenderFullName" class="form-control" />
                <span asp-validation-for="SenderFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderCardNumber" class="control-label"></label>
                <input asp-for="SenderCardNumber" class="form-control" />
                <span asp-validation-for="SenderCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderCardCvv" class="control-label"></label>
                <input asp-for="SenderCardCvv" class="form-control" />
                <span asp-validation-for="SenderCardCvv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderCardExpiryMonth" class="control-label"></label>
                <input asp-for="SenderCardExpiryMonth" class="form-control" />
                <span asp-validation-for="SenderCardExpiryMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderCardExpiryYear" class="control-label"></label>
                <input asp-for="SenderCardExpiryYear" class="form-control" />
                <span asp-validation-for="SenderCardExpiryYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Place Order" class="btn btn-primary" />
            </div>
            @*</form>*@
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
